body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: linear-gradient(133deg, rgba(120,250,246,1) 3%, rgba(144,26,233,1) 65%, rgba(26,207,233,1) 99%);
}
label{
	font-weight:bold;
	font-size:18px;

}